@charset "UTF-8";

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
	background-color: #EFF4F9;
	font-family: 'Poppins', sans-serif;
}

.container {
	margin-top: 50px;
}

.table-responsive {
	overflow-x: auto;
}

.table {
	min-width: 100%;
	/* Ensure table has a proper layout for large datasets */
}

@media ( max-width : 768px) {
	.table th, .table td {
		font-size: 0.9rem; /* Reduce font size for smaller screens */
	}
	#search {
		padding-top: 18px;
	}
}

@media ( max-width : 768px) {
	#age {
		margin-top: 15px;
	}
}
